.topo {
    background-color: darkblue;
}

.capa {
    background-color: darkcyan;
}

.sobre_cidade {
    background-color: darkgoldenrod;
}

.ponto_turistico {
    background-color: darkgray;
}

.galeria_fotos {
    background-color: darkgreen;
}


.container {
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    width: 400px;
    margin: 100px;
}

.container img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}