.pg01 {
   display: flex;
    flex-direction: row;
    


    background-color: darkcyan;
    padding: 10px;
    
}
.pg01 div {
    display: flex;
    flex-direction: row;

    align-content: space-between;
    margin: 0 auto;
}

.form01 {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: red;
    padding: 10px;
}

.box01 {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 40%;
    padding: 10px;
}

button {
    padding: 4px;
    width: 150px;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: brown;
    color: antiquewhite;
    font-weight: 800;
}

button:hover {
    background-color: blue;
}