body {
    margin: 0px;
    font-family: sans-serif;
}

.btn_sumario {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    align-content: center;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 0px 0px 10px 6px inset whitesmoke;
    margin: 10px auto;
}

.btn_sumario a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.quadro_destaques {
    background-color: rgb(11, 173, 184);
    padding: 20px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: sans-serif;
    text-align: justify;
    border: 10px solid white;
    border-radius: 10px;
    font-style: italic;
}

.sumario {
    background-color: rgb(7, 63, 63);
    color: aliceblue;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
}

.suma {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;
    border-radius: 10px;
}

.suma01, .suma03, .suma05, .suma07 {
    background-color: rgb(7, 145, 145);
    color: aliceblue;
    
    
}

.suma02, .suma04, .suma06, .suma08 {
    background-color: rgb(6, 107, 107);
    color: aliceblue;
    
    
}

.suma img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgb(65, 65, 65);
}

.quadro_caracteristica {
    background-color: black;
    padding: 10px;
}

.qcl01 {
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: calc(100%/3 -20px);
}

.suma01 {

}

.suma02 {
    
}

.suma03 {
    
}

.suma04 {
    
}

.suma05 {
    
}

.suma06 {
    
}

.suma07 {
    
}

.suma08 {
    
}